
/* ------------------------------------------------------footer ---------------------------------- */

* {
    margin: 0;
    padding: 0;
}

.main-footer {
    height: 500px;
    background-color: rgb(34, 49, 79);
    border: 1px solid black;
}

.footer-sub {
    margin: auto;
    width: 86%;
    display: flex;
    height: 48%;
    /* border: 1px solid white; */
}

#footer-tp {
    margin-top: 70px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer-tp-1 {
    margin-top: 4px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-left {
    width: 36%;
    /* border: 1px solid red; */
}

.give input {
    outline: none;
    padding: 9px 12px;
    border: 1px solid white;
    background-color: transparent;
    /* color: white; */
    color: aqua;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 15px;
}


#Subscribedh {
    padding: 6px 25px;
    font-size: 15px;
    background-color: yellow;
    border: none;
    border-radius: 7px;
    margin-left: 6px;
}

.middle-footer{
    width: 20%;
}
.hpp{
    margin-top: 25px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}


.us{
    font-size: 14px;
    font-family: sans-serif;
    /* font-weight: bold; */
    color: white;
    margin-left: 15px;
    margin-top: 6px;
}


.hpp:hover{
    color: rgb(243, 243, 8);
}

.us:hover{
    color: rgb(243, 243, 8);
}

.us span{
    color: rgb(24, 181, 195);
}

.us span:hover{
    color: yellow;
}


#swsa{
    color: white;
    opacity: 0.9;
    width: 86%;
    margin: auto;
}


#kda{
    margin: auto;
    width: 86%;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}


#kda span{
    font-size: 16px;
    font-weight: bold;
}


.mda{
    opacity: 0.6;
    margin-top: 10px;
    width: 86%;
    margin: auto;
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: space-between;
}


.mda i{
    margin-right: 5px;
}